<main class="container">
  <h1>{{ title }}</h1>
  <p>Dags för quizen!</p>
    <p>
        <form action="/quiz/question">
            <button type="submit">Got To Quiz</button>
        </form>
    </p>
</main>
